@import "../../../variables.scss";

#home {
    /* --- Portrait Mobile --- */
    #overlay {
        background-color: black;
        height: 82.5vh;
        overflow: hidden;
        width: 100%;

        #hero {
            height: 100%;
            object-fit: cover;
            opacity: 0.69;
            width: 100%;
            z-index: -1;
        }

        .cta {
            background-color: $accent-color;
            position: absolute;
                left: 30%;
                top: 60%;
            z-index: 1;
        }
    }


    /* --- Landscape Mobile --- */
    @media (min-width: 576px) {

    }

    /* --- Portrait Tablet --- */
    @media (min-width: 768px) {
        
    }

    /* ---  Landscape Tablet --- */
    @media (min-width: 992px) {
        
    }

    /* --- Small Laptop --- */
    @media (min-width: 1200px) {
        .cta {
            font-size: 1.5rem;
        }
    }

    /* --- Large Laptop --- */
    @media (min-width: 1440px) {
        
    }

    /* --- Desktop --- */
    @media (min-width: 2100px) {
        
    }
}