@import "../../../variables.scss";
/* Login.css */

#login {
    /* --- Portrait Mobile --- */
    position: relative;
        top: 12rem;

    a {
        color: $accent-color;
    }

    input {
        margin-bottom: 1rem;
    }

    button {
        background-color: $accent-color;
        margin-top: 0.5rem;
    }

    .login-form {
        border: $border-color 1px solid;
        border-radius: 1rem;
        -webkit-box-shadow: 4px 6px 14px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 6px 14px -6px rgba(0,0,0,0.75);
        box-shadow: 4px 6px 14px -6px rgba(0,0,0,0.75);
        padding: 2rem 2rem 1rem 2rem;
    }

    /* --- Portrait Tablet --- */
    @media (min-width: 768px) {
        width: 50%;
    }

    /* --- Desktop --- */
    @media (min-width: 2100px) {
        top: 24rem;

        .login-form {
            font-size: 2rem;

            input, button {
                font-size: 2rem;
            }
        }
    }
}