@import "../../../variables.scss";

#blog {
    /* --- Portrait Mobile --- */
    height: 80vh;
    
    .card {
        color: $secondary-color;

        h3 {
            color: $accent-color;
        }
    }

    > * {
        margin: 1rem;
    }

    a {
        text-decoration: none;
    }

    .header {
        
    }

    /* --- Landscape Mobile --- */
    @media (min-width: 576px) {

    }

    /* --- Portrait Tablet --- */
    @media (min-width: 768px) {
        
    }

    /* ---  Landscape Tablet --- */
    @media (min-width: 992px) {
        
    }

    /* --- Small Laptop --- */
    @media (min-width: 1200px) {
        
    }

    /* --- Large Laptop --- */
    @media (min-width: 1440px) {
        
    }

    /* --- Desktop --- */
    @media (min-width: 2100px) {
        
    }
}