@import "../../../variables.scss";

#footer {
    /* --- Portrait Mobile --- */
    background-color: $tertiary-color;
    text-align: center;

    #copyright {
        color: $secondary-color;
        font-weight: bold;
        position: relative;
        top: 30%;

        a {
            color: $accent-color;
        }
    }

    /* --- Landscape Mobile --- */
    @media (min-width: 576px) {

    }

    /* --- Portrait Tablet --- */
    @media (min-width: 768px) {
        
    }

    /* ---  Landscape Tablet --- */
    @media (min-width: 992px) {
        
    }

    /* --- Small Laptop --- */
    @media (min-width: 1200px) {
        height: 60px;
    }

    /* --- Large Laptop --- */
    @media (min-width: 1440px) {
        
    }

    /* --- Desktop --- */
    @media (min-width: 2100px) {
        
    }
}