/* Overlay.css */
@import "../../../variables.scss";

#nav-overlay {
    /* --- Portrait Mobile --- */
    background-color: black;
    height: 100%;
    margin-left: -1rem;
    position: fixed;
    opacity: 0.9;
        left: 0;
        top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    width: 110vw;
    z-index: 2;

    &-content {
        margin-top: 1rem;
        position: relative;
            right: 2.5%;
            top: 10%;
        text-align: center;
        width: 100%;
    }

    a {
        cursor: pointer;
        display: block;
        font-size: 1.5rem;
        margin: 1rem auto;
        padding: 1rem;
        text-decoration: none;
        transition: 0.3s;
    }

    .cancel {
        position: absolute;
            right: 9%;
            top: -1.5%;
        font-size: 2rem;
    }

    /* --- Landscape Mobile --- */
    @media (min-width: 576px) {
        &-content {
            margin-top: 1rem;
            top: 25%;
        }

        a {
            cursor: pointer;
            font-size: 2rem;
            margin: 1rem auto;
            padding: 1rem;
        }
    }

    /* --- Portrait Tablets --- */
    @media (min-width: 768px) {
        display: none;
    }
}